@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.box{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	box-shadow: 4px 2px 60px 3px black;
	background-color: #dc99;
}
#tit{
	text-align: center;
	margin: 4px;
	font-family: 'Indie Flower', cursive;
	font-size: 4vw;
	color: black;
}
input:focus{
	color: #113;
}
textarea:focus{
	color: #113;
}
input{
	font-family: 'Indie Flower', cursive;
	border-radius: 50px;
	height: 67px;
	font-size: 3vw;
}
#button{
	font-family: 'Indie Flower', cursive;
	border-radius: 50px;
	height: 35px;
	font-size: 1.85vw;

}
#button:hover{
	background-color: #dcc;
}
