@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
body{
  

}
.box{
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	box-shadow: 4px 2px 60px 3px black;
	background-color: #113c;
}
#tit{
	text-align: center;
	margin: 4px;
	font-family: 'Indie Flower', cursive;
	font-size: 4vw;
	color: white;
}
p{
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 2.3vw;
}
button{
	font-family: 'Indie Flower', cursive;
	border-radius: 50px;

}
button:hover{
	background-color: white;
	color: #343adf;
}
input:focus{
	color: #113;
}
textarea:focus{
	color: #113;
}